@using Microsoft.AspNetCore.Identity;
@using App.ViewModels;

@model List<EditUserViewModel>;


@{
    ViewData["Title"] = "UserRolesAndClaimsList";
    
}
<h1>List of Users</h1>

@if (Model.Any())
{
    <table class="table table-striped">
    <thead>
        <tr>
            <th> Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Enable/Disable</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.FirstName @user.LastName </td>
            <td>@user.Email</td>
            <td>@string.Join(" , ", user.Roles.ToList())</td>
            <td>
                <label class ="Switch"> 
                    <input type="checkbox" disabled class="Switch__Input" checked>
                    <span class ="Slider"></span>
                </label>
            </td>

            <td>
               
                <a asp-action="EditUser" asp-controller="User"
                asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                
                <a asp-action="DisableUser" asp-route-id="@user.Id" 
                type="submit" method="post" class="btn btn-danger" 
                onclick="return confirm ('Are you sure you want to disable user:@user.Email')">Disable </a>
            </td>
        </tr>
        }
    </tbody>
</table>

     <a asp-area="Identity" asp-page="/Account/Register"
       class="btn btn-primary mb-3" style="width:auto">
        Add new user
    </a>

}

else
{
    <div class="card">
        <div class="card-header">
            No users created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a user
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-area="Identity" asp-page="/Account/Register">
                Add new user
            </a>
        </div>
    </div>
}

